
$box-dim: 50px;
$background-color: #e6d4ef;


.diamond-sweeper {
    position: absolute;
    top: 30px;
    left: 50px; 
}
.diamond-sweeper-row {
    display: flex;
}
.diamond-sweeper-node {
    background-color: $background-color;
    width: $box-dim;
    height: $box-dim;
    border: solid 1px black;
    background-image:url('/assets/question.png');
    cursor: pointer;
}
.resume {
    width: 100px;
    height: 50px;
    background: grey;
    opacity: 0.9;
    font-size: 20px;
}

.gameover {
    margin: 100px;
    padding: 50px;
    background-color: $background-color;
}

@mixin direction($image) {
    width: $box-dim;
    height: $box-dim;
    background-image:url($image);
    background-repeat:no-repeat;
    background-position: center;
}

.left {
    @include direction('/assets/iconmonstr-arrow-76.svg');
}
.right {
    @include direction('/assets/iconmonstr-arrow-75.svg');
}
.up {
    @include direction('/assets/iconmonstr-arrow-78.svg');
}
.down {
    @include direction('/assets/iconmonstr-arrow-77.svg');
}
.thumbnail {
    width: $box-dim;
    height: $box-dim;
}
