<html>
  <head>
    <title>Quintype App</title>
    <link type='text/css' rel="stylesheet" href='/assets/style.css'></link>
  </head>
  <body>
    <div id="container"> 
    </div>
  </body>
    <script type="text/javascript" src="/assets/app.js"></script>
</html>
